body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(255, 254, 254);
    font-family: 'Rubik Wet Paint', cursive;
    background: rgb(0, 0, 0) url(../img/);
    background-size: 100%;
}

.mainav {
    background-color: fuchsia;
    color: white;
    padding: 0 1%;
    margin-bottom: 5%;
    height: 70px;
    position: fixed;
    margin-top: -13%;
    width: 1630px;
}

.mainav li {
    display: inline;
    padding: 0 0%;
    margin-left: 2%;
    position: relative;
    top: 23px;
}

.mainav li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    position: relative;
    left: -40%;
}

.mainav li a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 0px 25px #fff;
    font-size: 17px;
}

.footer {
    position: absolute;
    color: #fff;
    top: 95%;
    left: 80%;
    font-size: 12px;
}

.search {
    position: fixed;
    top: 1%;
    left: 73%;
}

textarea:focus,
input:focus,
select:focus {
    outline: 0;
}

.pesqui {
position: fixed;
top: 1%;
left: 86%;
}

button {
    background-color: #ffffff;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.carrossel {
    position: relative;
    display: inline-block;
    margin-top: 1%;
    padding: 1%;
    border-radius: 0em;
    transition: 2s;
    top: -60px;
}

img {
    position: relative;
    width: 800px;
    height: 600px;
    border-radius: 0em;
}

#logo {
    height: 100%;
    width: 35%;
    border-radius: 0em;
}

a.animated-button.thar-tw {
    color: #fff;
    cursor: pointer;
    display: block;
    position: fixed;
    top: 1%;
    left: 88%;
    width: 5%;
    height: 3%;
    border: 2px solid #F7CA18;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    text-decoration: none;
}

a.animated-button.thar-tw:hover {
    color: #000 !important;
    background-color: #F7CA18;
    text-shadow: ntwo;
}

a.animated-button.thar-tw:hover:before {
    top: 1%;
    bottom: auto;
    height: 100%;
}

a.animated-button.thar-tw:before {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #F7CA18;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.animated-button.thar-th {
    color: #fff;
    cursor: pointer;
    display: block;
    position: fixed;
    top: 1%;
    left: 94%;
    border: 2px solid #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1)0s;
    width: 5%;
    height: 3%;
    text-decoration: none;
}

a.animated-button.thar-th:hover {
    color: #000 !important;
    background-color: #F7CA18;
    text-shadow: nthree;
}

a.animated-button.thar-th:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

a.animated-button.thar-th:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #F7CA18;
    transition: all 0.4s cubic-bezier(20.202, 0, 0.58, 1)0s;
}
h2 {
    position: relative;
    left: -750px;
}
.header{
    position: relative;
    left: -33%;
}
.contents{
    color: #fff;
    float: left;
    
}
.sete{
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 6px;
}
h5{
font-size: 10px;
float: left;
position:relative;
top: -30px;
}
#spy{
font-size: 12px;
position: relative;
left: -62px;
line-height: 15px;
text-align:justify;
}