body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(0, 0, 0) url(../img/);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    margin: 1% auto;
    width: 70%;
    text-align: left;
    background: rgb(0, 0, 0);
    border: 1px solid black;
}

.mainav {
    background-color:fuchsia;
    color: white;
    padding: 0 1%;
    margin-bottom: 5%;
    margin-top: 1%;
    height: 27px;
}

.mainav li {
    display: inline;
    padding: 0 1%;
    border-right: 0px solid rgb(0, 4, 255);
    margin-left: 1%;
}

.mainav li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.mainav li a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 0px 25px #fff;
    font-size: 17px;
}

.footer {
    position: absolute;
    color: #fff;
    top: 95%;
    left: 1350px;
    font-size: 15px;
}

.search {
    position: absolute;
    top: 234px;
    left: 1182px;
}
textarea:focus, input:focus, select:focus {
    outline: 0;
}
.pesqui{
    position: absolute;
    top: 234px;
    left: 1398px;
    font-size: 5%;
}
button{
    background-color: #ffffff;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}